* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}

.ant-tabs-ink-bar {
  background: black;
}

.ant-tabs-tab:hover {
  color: black;
}

.item-left {
  margin-top: 35px;
}

.item-right {
  margin-top: 35px;
}

.ant-carousel .slick-dots li button {
  background: gray;
  color: black;
}

.ant-carousel .slick-dots li.slick-active button {
  background: black;
}

.header .navbar .container-fluid .collapse .cart-logo img {
  width: 70%;
  height: 70%;
  margin-top: 4px;
}
.header .container-fluid .ant-tabs .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane .ant-carousel .slick-slider .slick-dots li button {
  background: gray;
  color: black;
}